Package: com.thatmarcel.tweaks.cchue
Name: CCHue
Depends: mobilesubstrate, ws.hbang.common (>= 1.11)
Version: 1.0.1
Architecture: iphoneos-arm
Description: Add Philips Hue toggles to control center
Maintainer: Marcel Braun
Author: Marcel Braun
Section: Tweaks
